<h1>List of Restaurants</h1>
<% @restaurants.each do |restaurant| %>
  <h4><%= link_to restaurant.name, restaurant_path(restaurant) %> </h4>
<% end %>
<p><%= link_to "Add a new restaurant", new_restaurant_path %> </p>
